body{
    background-color: #3E3D49 ;
    margin: 0;
}

header{
    width: 100%;
    height: 60px;
    background-color: #1E1F25;
    text-align: left;
    font-size: 32px;
}

section{
    width: 100%;
    height: auto;
}

.logo{
    display: inline;
    float: left;
}

.navIcon{
    margin: 0;
    padding: 4px;
    height: 62px;
    width: 62px;
    float: left;
}

#logoText{
    font-size: 28px;
    color: #FFFFFF;
    margin: 12px;
    margin-top: 0;
}

.container{
    width: 1024px;
    height: 48px;
    margin: 0;
    display: inline;
    float: left;
    padding: 0;
    border-color: red;
    border-width: 3px;
    padding: 5px;
    border-style: solid;
}

nav a {
    color: inherit;
    text-decoration: none;
}

.navButton{
    font-style: "Times New Roman";/*ponnala*/
}

/*狀態列以下*/

#centerGroup{
    height: 500px;
    width: 284px;
    float: center;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr;
    border-color: aqua;
    border-width: 3px;
    padding: 5px;
    border-style: solid;
}

#icons{
    padding: 6px;
    display: inline-block;
}

.icon{
    margin: auto;
    height: 48px;
    width: 48px;
    float: center;
    color: white;
    padding: 8px;
}

.menu{
    display: inline;
}

#logoAndText{
    float: center;
    height: auto;
}

#logo{
    height: 256px;
    width: auto;
}

#nothing{
    height: 240px;
}
