@charset "UTF-8";

/* var */
$navbarHeight: 60px;

body,
html {
    background-color: #3e3d49;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

/* 導覽欄 */
.navbar {
    width: 100%;
    height: 60px;
    background-color: #1e1f25;
    text-align: left;
    margin: 0;
    /* logo */
    .logo {
        position: relative;
        float: left;
        width: 200px;
        margin-left: 40px;
        height: 60px;
        color: #ffff;
        font-size: 36px;
        img {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }
        #logo-text {
            display: inline-block;
            position: absolute;
            top: 50%;
            left: 50px;
            transform: translate(0, -50%);
        }
    }
    /* menu */
    .menu {
        margin: 0;
        height: $navbarHeight;
        padding: 0;
        display: flex;
        li {
            cursor: pointer;
            display: flex;
            color: #ffff;
            align-items: center;
            margin: 0 20px;
            &:hover {
                opacity: 0.7;
            }
            a,
            .navButton {
                margin: auto;
                text-decoration: none;
                font-family: "Times New Roman", sans-serif; // ponnala
                &:link,
                &:hover,
                &:visited,
                &:active {
                    color: #ffff;
                }
            }
        }
    }
    /* 手機板 */
    @media all and (max-width: 700px) {
        /* -> menu */
        .menu {
            width: 40%;
            position: fixed;
            top: $navbarHeight;
            right: 0;
            flex-direction: column;
            display: flex;
            z-index: 9;
            .show-btn {
                cursor: pointer;
                position: fixed;
                top: ($navbarHeight / 2) - (16px / 2);
                right: 4%;
                background-color: white;
                width: 16px;
                height: 16px;
                &:hover {
                    opacity: 0.8;
                }
            }
            li {
                display: none;
            }
            &.show {
                align-items: center;
                height: 100%;
                background-color: #626262;
                li {
                    display: block;
                    padding: 1.2em 0;
                    width: 100%;
                    text-align: center;
                    border: solid 2px white;
                }
                .blurry {
                    width: 100vw;
                    height: 100vh;
                    position: fixed;
                    display: block;
                    opacity: 0.3;
                    z-index: -1;
                    background: #000;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    @media all and (max-width: 400px) {
        .menu {
            width: 60%;
        }
    }
}

section {
    width: 100%;
    height: auto;
}

/* 狀態列以下 */
#centerGroup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: center;
    padding: 5px;
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    #icons {
        padding: 6px;
        display: inline-block;
        a {
            height: 64px;
            width: 64px;
            display: inline-block;
            .icon {
                margin: auto;
                height: 48px;
                width: 48px;
                float: center;
                color: white;
                padding: 8px;
            }
        }
    }
    #logoAndText {
        float: center;
        height: auto;
        #logo {
            display: block;
            height: 256px;
            margin: 0 auto;
        }
        #logoText {
            font-size: 28px;
            color: #ffffff;
            margin: 0 12px 12px;
        }
    }
}
