@charset "UTF-8";
/* var */
body,
html {
  background-color: #3e3d49;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

/* 導覽欄 */
.navbar {
  width: 100%;
  height: 60px;
  background-color: #1e1f25;
  text-align: left;
  margin: 0;
  /* logo */
  /* menu */
  /* 手機板 */
}

.navbar .logo {
  position: relative;
  float: left;
  width: 200px;
  margin-left: 40px;
  height: 60px;
  color: #ffff;
  font-size: 36px;
}

.navbar .logo img {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.navbar .logo #logo-text {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.navbar .menu {
  margin: 0;
  height: 60px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .menu li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.navbar .menu li:hover {
  opacity: 0.7;
}

.navbar .menu li a,
.navbar .menu li .navButton {
  margin: auto;
  text-decoration: none;
  font-family: "Times New Roman", sans-serif;
}

.navbar .menu li a:link, .navbar .menu li a:hover, .navbar .menu li a:visited, .navbar .menu li a:active,
.navbar .menu li .navButton:link,
.navbar .menu li .navButton:hover,
.navbar .menu li .navButton:visited,
.navbar .menu li .navButton:active {
  color: #ffff;
}

@media all and (max-width: 700px) {
  .navbar {
    /* -> menu */
  }
  .navbar .menu {
    position: fixed;
    top: 60px;
    right: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 9;
    width: 0;
    height: 0;
  }
  .navbar .menu .show-btn {
    cursor: pointer;
    position: fixed;
    top: 22px;
    right: 4%;
    background-color: white;
    width: 16px;
    height: 16px;
  }
  .navbar .menu .show-btn:hover {
    opacity: 0.8;
  }
  .navbar .menu li {
    display: none;
  }
  .navbar .menu.show {
    width: 40%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    background-color: #626262;
  }
  .navbar .menu.show li {
    display: block;
    padding: 1.2em 0;
    width: 100%;
    text-align: center;
    border: solid 2px white;
  }
  .navbar .menu.show .blurry {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;
    opacity: 0.3;
    z-index: -1;
    background: #000;
    top: 0;
    left: 0;
  }
}

@media all and (max-width: 400px) {
  .navbar .menu {
    width: 60%;
  }
}

section {
  width: 100%;
  height: auto;
}

/* 狀態列以下 */
#centerGroup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  float: center;
  padding: 5px;
  width: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#centerGroup #icons {
  padding: 6px;
  display: inline-block;
}

#centerGroup #icons a {
  height: 64px;
  width: 64px;
  display: inline-block;
}

#centerGroup #icons a .icon {
  margin: auto;
  height: 48px;
  width: 48px;
  float: center;
  color: white;
  padding: 8px;
}

#centerGroup #logoAndText {
  float: center;
  height: auto;
}

#centerGroup #logoAndText #logo {
  display: block;
  height: 256px;
  margin: 0 auto;
}

#centerGroup #logoAndText #logoText {
  font-size: 28px;
  color: #ffffff;
  margin: 0 12px 12px;
}
/*# sourceMappingURL=style.css.map */