.cooperates
  position: relative
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  align-content: flex-start
  justify-content: center
  padding: 50px

.cooperate
  border-radius: 6px
  background-color: rgba(255, 255, 255, 0.212)
  padding: 20px
  display: flex
  align-items: center
  color: #ffff
  margin: 20px
  backdrop-filter: blur(15px)
  .content
    z-index: 999999999999999
  h2
    margin: 0 20px

.cooperate-avatar
  height: 64px
  align-content: center
  border-radius: 50%