.cooperates
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  align-content: flex-start
  padding: 50px

.cooperate
  border-radius: 6px
  background-color: rgb(24, 26, 27)
  padding: 20px
  display: flex
  color: #ffff
  width: 300px

  h2
    margin: 0 20px

.cooperate-avatar
  height: 64px
  align-content: center