@import url('https://use.fontawesome.com/releases/v5.7.1/css/all.css')

.home
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  img
    -webkit-user-select: none
    -moz-user-select: none
    -o-user-select: none
    user-select: none
    height: 256px
  text-align: center
  font-size: 28px
  color: #ffff
  white-space: nowrap

.icons
  display: flex
  justify-content: space-between
  a
    margin: 0 10px
    display: block
    
    &::before
      font-size: 48px
      transition: all .4s
      color: #afadad

    &:hover::before
      text-shadow: #ffffff49 0px 0px 15px
      color: #ffff

a
  &:link,
  &:hover,
  &:visited,
  &:active
    color: #ffff
  text-decoration: none