.members
  display: flex
  flex-wrap: wrap
  align-content: start
  justify-content: center
  padding: 50px
  height: calc( 100% - 160px )

.member
  position: relative
  width: 300px
  height: inherit
  background-color: #2b2a31
  padding: 20px
  border-radius: 10px
  color: #ffff
  top: 0
  transition: all .5s
  margin: 20px

  h2, p
    margin: 0
    text-align: center
  h3
    text-align: center
    
  p
    padding: 10px 0

  &:hover
    box-shadow: rgb(0 0 0 / 30%) 0px 15px 25px
    top: -5px

.avatar
  margin: 20px auto
  width: 80px
  height: 80px
  border-radius: 50%
  overflow: hidden
  img
    height: 100%
    width: 100%

.about
  width: 100%
  text-align: center
