.navbar
  height: 60px
  width: 100%
  background-color: #1e1f25
  margin: 0
  padding: 0
  list-style: none
  display: flex
  align-items: center
  .logo
    height: 100%

    a
      display: flex
      align-items: center
      img
        height: 100%
        margin-right: 10px
      h1
        line-height: 60px
        font-size: 36px
        margin-right: 20px
  
  li
    margin: 0 20px
    height: 100%
    color: #ffff
    a
      &:link,
      &:hover,
      &:visited,
      &:active
        color: #ffff
      text-decoration: none
      display: block
      height: 100%
      line-height: 60px