body, html, #root {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3e3d49;
  width: 100%;
  scrollbar-width: 10px;
  scrollbar-color: #2E3338;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
  background-color: #2E3338;
}

body::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 20px;
}

